.brick , .brick-board {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    justify-content: center;

}

.brick[direction="vertical"], .brick-board[direction="vertical"] {
    flex-direction: column;
    width: 50px;
    height: 100px;
}

.brick[direction="horizontal"], .brick-board[direction="horizontal"] {
    /*display: flex;*/
    flex-direction: row;
    width: 100px;
    height: 50px;
}

.brick hr, .brick-board hr {
    border: 1px solid black;
    padding: 0;
    border-radius: 1px;
}

 .brick[direction="vertical"] hr, .brick-board[direction="vertical"] hr{
    margin: 7px 3px 7px 3px;}

.brick[direction="horizontal"] hr, .brick-board[direction="horizontal"] hr {
    margin: 3px 7px 3px 7px;
} 

.brick .dots-container, .brick-board .dots-container {
    justify-content: center;
    align-self: center;
    align-content: center;
}

.enemy-brick{
    width: 30px;
    height: 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    justify-content: center;
}

.enemy-brick[direction="vertical"]{
    width: 30px;
    height: 60px;
}

.enemy-brick[direction="horizontal"]{
    width: 60px;
    height: 30px;
}