
.player-container {

    display: flex;
	flex-direction: row;
   /* position: fixed;*/

    flex-wrap: wrap;
	background-color:tomato ;
	height: 130px ;
    width: 900px;
	bottom: 5px;
    /* margin: 0 5px 0 5px; */
    margin: 0 auto;
    left: 0;
    border-radius: 10px;
    justify-content: space-evenly;
    overflow: auto;


}

.player-container[isturn = "false"] {
opacity: 0.4;

}

.enemy-container-top {
    display: flex;
	flex-direction: row;
    position: fixed;
    flex-wrap: wrap;
	background-color:tomato ;
	height: 70px ;
    width: 700px;
    /*margin: 0 5px 0 5px; */
    margin: 5px auto;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    justify-content: space-evenly;
    overflow: auto;
}


.enemy-container-top[isturn = "true"] { 
    border: 1px solid rgb(229, 255, 0);
}
.enemy-container-top[isturn = "false"] { 
    opacity: 0.6;
}

.enemy-container-left {
    display: flex;
	flex-direction: column;
    position: fixed;
    flex-wrap: wrap;
	background-color:tomato ;
	width: 70px ;
    height: 300px;
    margin: 80px 0 5px 5px;
    left: 0;
    top: 0;
    border-radius: 10px;
    justify-content: space-evenly;
    overflow: auto;

}

.enemy-container-left[isturn = "true"] { 
    border: 1px solid rgb(229, 255, 0);
}
.enemy-container-left[isturn = "false"] { 
    opacity: 0.6;
}


.enemy-container-right {
    display: flex;
	flex-direction: column;
    position: fixed;
    flex-wrap: wrap;
	background-color:tomato ;
	width: 70px ;
    height: 300px;
    margin: 80px 5px 5px 0;
    right: 0;
    top: 0;

    border-radius: 10px;
    justify-content: space-evenly;
    overflow: auto;

}


.enemy-container-right[isturn = "true"] { 
    border: 1px solid rgb(229, 255, 0);
}

.enemy-container-right[isturn = "false"] { 
    opacity: 0.4;
}

.disable-player {
    position: absolute;
    height: 130px ;
    width: 900px;
	bottom: 5px;
    /* margin: 0 5px 0 5px; */
    margin: 0 auto;
    left: 0;
    border-radius: 10px;
    background-color:rgba(12, 12, 12, 0.75);
    background-size: cover;
    /*overflow: hidden;*/
    z-index: 100;
}