.empty-cell {
    border: 1px solid black;

}

.empty-cell[turn-red= "true"] {
    animation:pulse 2s linear;

}

@keyframes pulse {
    0%,100% {
        background-color: transparent;
    }

    50% {
        background-color: red;

    }

}