
.player-container {

    display: flex;
	flex-direction: row;
    /* position: fixed; */
    flex-wrap: wrap;
	background-color:tomato ;
	height: 130px ;
    width: 900px;
	bottom: 5px;
    /* margin: 0 5px 0 5px; */
    margin: 0 auto;
    left: 0;
    border-radius: 10px;
    justify-content: space-evenly;
    overflow: auto;


}