.dots-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,10px);
    grid-gap: 4px;
    grid-template-rows: repeat(3,10px);

}

.dots-container[dots-index="1"] .dot[dot-index="4"],

.dots-container[dots-index="2"] .dot[dot-index="2"],
.dots-container[dots-index="2"] .dot[dot-index="6"],

.dots-container[dots-index="3"] .dot[dot-index="2"],
.dots-container[dots-index="3"] .dot[dot-index="4"],
.dots-container[dots-index="3"] .dot[dot-index="6"],

.dots-container[dots-index="4"] .dot[dot-index="0"],
.dots-container[dots-index="4"] .dot[dot-index="2"],
.dots-container[dots-index="4"] .dot[dot-index="6"],
.dots-container[dots-index="4"] .dot[dot-index="8"],


.dots-container[dots-index="5"] .dot[dot-index="0"],
.dots-container[dots-index="5"] .dot[dot-index="2"],
.dots-container[dots-index="5"] .dot[dot-index="4"],
.dots-container[dots-index="5"] .dot[dot-index="6"],
.dots-container[dots-index="5"] .dot[dot-index="8"],

.dots-container[dots-index="6"] .dot[dot-index="0"],
.dots-container[dots-index="6"] .dot[dot-index="3"],
.dots-container[dots-index="6"] .dot[dot-index="6"],
.dots-container[dots-index="6"] .dot[dot-index="2"],
.dots-container[dots-index="6"] .dot[dot-index="5"],
.dots-container[dots-index="6"] .dot[dot-index="8"] {

    background-color: black;
}



.dot
{
    border-radius: 50%;
}




