.board {

    /*height: 500px;
    width:100%;*/
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 105px);
    grid-template-rows: repeat(10, 105px);

}

.container-board {
    float: right;
    height: 70%;
    width: 100%;
    display: flex;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}