p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    padding: 0 3px;
}

.info {
    width: 150px;
    display: flex;
    align-items: baseline;
    position: sticky;

}
.info[belongto="zoom"] {
    flex-direction: column;
    align-items: center;
}