.brick {
    border-radius: 5px;
    border: 1px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin: 10px;
    height: fit-content;
}

.brick[direction="vertical"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 90px;
}

hr {
    border: 1px solid black;
    width: 100%;
}
