
body {
<<<<<<< HEAD
    /*background-image: url(C:/Studies/Web Application/Domino/domino-react/src/img/background2.jpg);*/
=======
    /*background-image: url(C:/Studies/Web Application/Domino/domino-react/src/img/background1.jpg);*/
>>>>>>> a0a7ef34d48f35246f7d49aa7f88cfe614cea07e
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  
}

h1, p {
  cursor: context-menu;
}

button{
  cursor: pointer;
  border: 0px;
}
