.gameroom-container{
    display: flex;
    border: 1px solid black;
    margin: 5px;
}

tr{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  tr:hover {
        background: rgb(71, 71, 71, 0.5);
        cursor: pointer;
  }

  

  tbody{
      width: 100%;
  }