.button {

    width: fit-content;
    padding: 3px 10px 3px 10px;
}

button.square_btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

button.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

button.circle_btn{

    width: 55px;
    height: 55px;
    transform: translateX(13px) translateY(-15px) scale(0.55);
    transition: all 0.2s;
    border: solid 2px rgb(255, 193, 7);
    border-radius: 50%;

    color: #FFC107;

}

button.circle_btn:hover {
    background: rgb(255, 174, 0);
}

.close_btn {
    background: transparent;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
}